:root {
  --calc-main: #2b2c2c;
  --calc-white: #ffffff;
  --calc-black: #000000;
  --calc-actions: #3f4040;
  --calc-operations: #ff9f0b;
  --calc-numbers: #5f5f5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: var(--calc-black);
}

h1 {
  font-size: 40px;
  text-align: center;
}

button,
span,
p {
  font-size: 20px;
}

.trCalculator__result {
  display: block;
  background: var(--calc-main);
  padding: 10px 20px;
  text-align: right;
  color: var(--calc-white);
  font-size: 40px;
}

.trCalculator__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid var(--calc-main);
}

.trCalculator__gridItem {
  padding: 10px 0;
  border-radius: 0;
  background: var(--calc-numbers);
  border: 1px solid var(--calc-main);
  cursor: pointer;
  color: var(--calc-white);
}

.trCalculator__gridItem--action {
  background: var(--calc-actions);
}
.trCalculator__gridItem--actionReset {
  background: var(--calc-actions);
}

.trCalculator__gridItem--operation {
  background: var(--calc-operations);
}
.trCalculator__gridItem--operationEqual {
  background: var(--calc-operations);
}
